extends layout

block content
  div(class="corp")
    h3 Cliente
    fieldset
        input(type='text', placeholder='Nome')
        &nbsp;
        input(type='text', placeholder='Cognome')
        p
          button Accedi
          | &nbsp;o&nbsp;
          button Registrati

  