doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-latest.min.js')
    
    block head

  body
    div(id="content")
        div(class="testata")
            h1= title
            ul
                li: a(href="/") Home Page 
                li: a(href="/immagini") Immagini 
                li: a(href="/eventi") Eventi 
                li: a(href="/tag") Tag
        #body
            block content
    
  footer
    div(class="foo")
        p &copy; !{(new Date()).getFullYear()}